<<<<<<< HEAD
<p id="notice"><%= notice %></p>

=======
>>>>>>> 6ab92a68bc270cccf2b1245d92b78b6c832bba3c
<p>
  <strong>User name:</strong>
  <%= @comment.user_name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @comment.idea_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
